.period {
    font-size: large;
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.timePeriod {
    background-color: blue;
    border-radius: 1rem;
}

.periodBtn {
    padding: .5rem 2rem;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    font-family: arial;
    letter-spacing: .1rem;
    border-radius: .8rem;
    box-shadow: 0rem .2rem 0rem 0rem rgb(0, 139, 139);
}

.periodBtn:hover {
    background-color:aquamarine
}

.periodBtn:active {
    transform: translateY(.2rem);
    box-shadow: 0rem .1rem 0rem 0rem rgb(0, 49, 49);
}